.header {
    width: 900px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-base);
    position: relative;
    z-index: 3;
}