.content1 {
    margin-top: -200px;
    height: 115vh;
    background-image: url('../../public/background1.jpg');
    background-size: cover;
    background-position: 0 15%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: grayscale(100%);    

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 0;
}

.content1::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 70%;
    background-color: var(--color-base);
}

.area1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    z-index: 2;
}

.area1 h2{
    padding-top: 75px;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--white);
    flex-basis: 25vw;
}

.area1 .area{
    width: 25vw;
    min-width: 350px;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
    position: relative;
    padding: 2% 1%;
    margin-bottom: -130px;
}

.area1 .area::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 50%;
    background-color: var(--color-light);
}

.area1 .area h2{
    padding-top: 0;
    flex-basis: 0;
    z-index: 2;
    font-size: 2rem;
    color: var(--white);
}

.area1 .area form{
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

.area1 .area form label{
    width: 100%;
}

.area1 .area form textarea{
    width: 100%;
    height: 100%;
    min-height: 120px;
    border: none;
    border-radius: 20px;
    padding: 0 5%;
    font-size: 100%;
    font-weight: bold;
    padding-top: 15px;
}

.area2{
    height: 25vh;
    background-color: var(--black);
    display: flex;
    padding-left: 3rem;
    flex-direction: row;
    align-items: center;
    z-index: 1;
}

.area2 p{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--white);
}




.content2 {
    height: 100vh;
    background-image: url('../../public/background2.jpg');
    background-size: cover;
    background-position: 0 20%;
    background-repeat: no-repeat;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    padding: 1% 10%;
}

.content2::after {
    z-index: 0;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(
        hsl(0, 0%, 5%, 100%),
        hsl(0, 0%, 5%, 97.5%),
        hsl(0, 0%, 7%, 95%),
        hsl(0, 0%, 10%, 92.5%)
    );
}

.first{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.first div{
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 150px;
    z-index: 2;
}

.first > div:not(:last-child){
    padding-right: 5%;
    border-right: 1px solid hsl(0, 0%, 100%, 40%);
}

.first p, .first h3 {
    color: var(--white);
}

.second{
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 10%;
}

.second h2{
    color: var(--white);
    font-size: 2rem;
    text-align: center;
}

.third ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.third ul li{
    z-index: 2;
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.third ul li p{
    color: var(--white);
    font-weight: bold;
}

.line{
    position: relative;
}

.line::after {
    z-index: 1;
    position: absolute;
    content: '';
    border-bottom: 2px solid var(--white);
    width: 70vw;
    left: 5vw;
    top: 60px;
}

@media (max-width: 900px) {

    .area2 p, .area2 div{
        display: none;
    }
}

@media (max-width: 720px) {

    .area1 h2{
        display: none;
    }

    .area1 .area h2{
        display: block;
    }

    
}

@media (max-width: 650px) {

    .area1 .area form{
        width: 90%;
        height: 90%;
    }

    .content2 p, .content2 h3 {
        font-size: 70%;
    }

    .content2 h2 {
        font-size: 100%;
    }

    .third ul li p{
        /* font-size: 55%; */
    }

    .line::after {
        top: 8vw;
    }
}

@media (max-width: 450px) {

    .third ul li p{
        font-size: 55%;
    }

}
