.main {
    margin-top: -200px;
    height: 100vh;
    background-image: url('../../public/background1.jpg');
    background-size: cover;
    /* background-position: -200px -600px; */
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
}